.form-achievements {
  background-color: #fefefe;

  @media (min-width: $tablet-width) {
    min-width: 616px;

    margin-top: 62px;
    margin-bottom: 62px;

    border: solid 2px #e5e5e5;
  }
}

.form-achievements__heading {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.29;
  color: #d22856;

  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 440px;
    display: flex;
    justify-content: center;

    padding: 0 30px;
    margin-top: -15px;

    line-height: 2.14;
    text-transform: uppercase;
    background-color: white;

    & br {
      display: none;
    }
  }
}

.form-achievements__title {
  position: relative;
  padding-left: 70px;
  margin-bottom: 47px;

  display: flex;

  font-size: 18px;
  line-height: 1.67;
  color: $dark;

  @media (min-width: $tablet-width) {
    padding-left: 118px;
  }
}

.form-achievements__check-box {
  position: absolute;
  appearance: none;
}

.form-achievements__checkbox {
  width: 35px;
  height: 35px;

  position: absolute;
  left: 0;

  background-color: white;
  border: solid 2px #e5e5e5;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
  }
}

.form-achievements__check-box:checked + .form-achievements__checkbox {
  background-image: url('../img/icon-yes.png');
  background-repeat: no-repeat;
  background-position: center;
}
