
.table__title {
  width: 98px;
  text-transform: uppercase;
}

.table__title:first-child {
  width: 90px;
}

.table__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2.14;
  color: $dark;
}



