.table {
  padding-top: 127px;
  display: flex;
  overflow: hidden;
  background: linear-gradient(175deg, rgba(255, 255, 255, 1) 7%, rgba(242, 242, 242, 1) 7%, rgba(242, 242, 242, 1) 100%);

  @media (min-width: $tablet-width) {
    justify-content: center;
    padding: 0 20px;
    padding-top: 127px;
    margin-bottom: 100px;
  }
}

.table__wrapper {
  min-width: 278px;
  position: relative;


  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;

  @media (min-width: $tablet-width) {
    min-width: 152px;

  }

  &--descr {
    margin-top: auto;

    &:first-child {
      border-top: 1px solid #e5e5e5;
    }
  }
}

.table__wrapper-standard {
  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      top: 127px;

      content: "";
      background-image: url("../img/hit-ribbon.png");
      width: 61px;
      height: 61px;
      left: 0;
      background-size: cover;
    }

    &::after {
      position: absolute;
      top: 142px;
      left: 10px;

      content: "ХИТ";
      transform: rotate(-45deg);

      font-size: 10px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 2.1;
      color: #ffffff;
    }
  }
}

.table__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 21px;

  background-color: $dark;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 18px;

    font-size: 16px;
    line-height: 1.88;
  }

  &::before {
    position: absolute;
    top: 127px;
    left: 20px;

    content: url("../img/hit-ribbon.png");

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    top: 142px;
    left: 35px;

    content: "ХИТ";
    transform: rotate(-45deg);

    font-size: 10px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 2.1;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    max-height: 75px;
  }
}

.teble__title-price {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.table__text {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 20px 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2.14;
  color: $dark;
  text-align: center;

  background-color: #ffffff;

  border-bottom: solid 2px #e5e5e5;

  @media (min-width: $tablet-width) {
    max-height: 46px;
    font-size: 0;
  }

  &--no::before {
    content: url(../img/no-svg.png);
    height: 26px;
    display: inline-block;
  }
  &--yes::before {
    margin-top: 5px;
    content: url(../img/yes-svg.png);
    height: 21px;
    display: inline-block;
  }
  &--descroption {
    font-size: 14px;
    text-align: left;
    text-transform: none;
  }
}

.table__toggles {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

