
.photo-list {
  padding: 0;
}

.photo-list__image {
  margin: 0;
  margin-bottom: 20px;
}

.photo-list__item {

  list-style: none;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;

    margin-bottom: 20px;
    &:first-child {
      width: 660px;
    }
  }
}

.photo-list__photo {
  position: relative;
  min-width: 320px;
  right: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    & img {
      width: 660px;
    }
  }
}

.photo-list__description {
  position: relative;
  padding: 0px 20px;
  @media (min-width: $tablet-width) {
    padding: 0px 30px;
  }
}

.photo-list__comments {
  font-size: 14px;
  line-height: 1.71;
  color: $dark;
}

.photo-list__author {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: $dark;
}

.photo-list__time {

  display: inline-block;
  margin-bottom: 5px;

  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.71;
  color: $dark;
}

.photo-list__action {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.photo-list__btn {
  fill: #d22856;
  padding: 0;
}

.photo-list__like {
  margin-left: 20px;

  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}
