.form-achievements {
  background-color: #fefefe;
}

.form-achievements__heading {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.29;
  color: #d22856;

  text-align: center;
}

.form-achievements__title {
  position: relative;
  padding-left: 70px;
  margin-bottom: 47px;

  display: flex;

  font-size: 18px;
  line-height: 1.67;
  color: $dark;
}

.form-achievements__check-box {
  position: absolute;
  appearance: none;
}

.form-achievements__checkbox {
  width: 35px;
  height: 35px;

  position: absolute;
  left: 0;

  background-color: white;
  border: solid 2px #e5e5e5;
  border-radius: 2px;
}

.form-achievements__check-box:checked + .form-achievements__checkbox {
  background-image: url('../img/icon-yes.png');
  background-repeat: no-repeat;
  background-position: center;
}
