
.download__btn {
  width: 281px;
  height: 55px;
  background-color: transparent;

  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;

  border: solid 3px #ffffff;
  border-radius: 25px;

  &:hover {
    color: $red;
    background-color: white;

    &:active {
      color: $red;
      background-color: white;
    }
  }
}
