
.footer__contacts {
  max-height: 395px;
}

.footer__header {
  padding-left: 30px;
  margin-bottom: 44px;

  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  color: $dark;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    font-weight: 300;
    color: $dark;
  }
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  & span {
    margin-top: 40px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    & span {
      margin-bottom: 15px;
    }

    & li:nth-child(3) {
      width: 240px;
    }
  }
}

.footer__map {
  display: none;
  position: relative;
}

.footer__map--block {
  position: relative;

  &::before {
    content: url("../img/map-marker-svg.svg");
    position: absolute;
    top: 48%;
    left: 45%;
  }

  &::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 0px; bottom: 2px; /* Положение треугольника */
    border: 160px solid transparent;
    border-top: 40px solid #ffffff;
  }
}

.footer__map--index {
  display: flex;
}

.footer__tel,
.footer__mail,
.footer__address {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  color: $red;
  text-align: center;
}

.footer__logo {
  width: 100%;

  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 42px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 147px;
    margin-top: 36px;
    margin-left: 20px;
  }
}

.footer-social {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.footer-social--index {
  display: none;
}

.footer-social__logo {
  width: 100%;
  position: relative;

  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 164px;
    position: relative;
    margin-top: 30px;
    padding: 0;
    display: flex;
    align-self: center;

    list-style: none;
  }
}

.footer-contacts__photo {
  display: none;
}

.footer-social__photo {
  display: block;
}

.footer-social__logo-photo {

  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: 50px;
    padding: 0;

    list-style: none;
    display: flex;
    justify-content: center;
  }
}

.footer__photo-page {
  display: flex;
  justify-content: center;
}

.footer__twitter-logo {
  @media (min-width: $tablet-width) {
    margin-left: 90px;
  }
}

.footer__youtube-logo {
  fill: #d22856;
}

.footer__twitter-logo,
.footer__youtube-logo,
.footer__facebook-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 46px;
  border: solid 3px $dark-lite;
  border-radius: 50%;
}

.footer__facebook-logo {
  margin-right: 17px;
  margin-left: 17px;
}

.footer__design-HTML {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: auto;

    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: auto;
  }
}

.footer__design-by {
  margin-top: 50px;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  & svg {
    fill: #d22856;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1.29;
    color: $dark;
  }
}

.footer__made-by {
  margin: 0;
  margin-top: 5px;
}
