@import 'global/fonts';
@import 'global/normalize';
@import 'global/variables';
@import 'header/header';
@import 'platform/platform';
@import 'main-nav/main-nav';
@import 'headre-banner/header-banner';
@import 'button/button';
@import 'page-main/page-main';
@import 'advantages/advantages';
@import 'review/review';
@import 'slider/slider';
@import 'table/table';
@import 'footer/footer';
@import 'footer-social/footer-social';
@import 'gallery-page/gallery-page';
@import 'photo-list/photo-list';
@import 'form-name/form-name';
@import 'form-achievments/form-achievements';
@import 'form-tel/form-tel';
@import 'form-application/form-application';
@import 'form-comment/form-comment';
@import 'form/form';

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'OpenSans', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2,
h3 {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  padding: 0px 20px;

  @media  (min-width: $tablet-width) {
    width: 660px;
  }

  @media  (min-width: $desktop-width) {
    width: 1200px;
  }
}

.container-photo {
  width: 320px;
  padding: 0px 20px;

  @media  (min-width: $tablet-width) {
    width: 660px;
    padding: 0px;
  }
}


