.header {
  background-color: #283645;
}

.header__opacity {
  background-color: $dark-opacity;
}

.header__logo {
  display: flex;
  position: relative;
  width: 74px;
  height: 23px;

  padding-top: 22px;
  padding-bottom: 22px;

  fill: #ffffff;
}

.header__toggle {
  margin: 0;
  justify-content: flex-end;
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.header__nav {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.header__nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.header__wrapper {
  display: flex;
}

.header__list {
  font-family: OpenSans, sans-serif;
  display: block;

  font-weight: 800;
  font-size: 18px;
  list-style: none;
}

.header-list__item a {
  color: #ffffff;
  text-transform: uppercase;
  display: none;
}

.header__title {
  max-width: 221px;

  display: flex;
  text-align: center;

  min-height: 48px;
  margin-top: 30px;
  margin-bottom: 33px;
  margin-left: 50px;

  font-size: 18px;
  font-weight: 300;
  color: white;
}

.header__image {
  max-width: 80%;
}
