.header {
  background-color: #283645;
  @media  (min-width: $tablet-width) {
    min-height: 729px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
  }
}

.header__menu {
  min-height: 66px;
  display: flex;
  background-color: $dark-opacity;
  @media  (min-width: $tablet-width) {
    min-height: 110px;
    background-color: $dark-opacity;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;

  padding-top: 22px;
  padding-bottom: 22px;

  fill: #ffffff;
}

.header__toggle {
  margin-left: auto;
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;

  }
  &:focus {
    outline: none;
  }
}

.header__nav {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  @media  (min-width: $tablet-width) {
    background-image: none;
  }
}

.header__nav img {
  @media  (min-width: $tablet-width) {
    display: none;
  }
}

.header__nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.header__wrapper {
  display: flex;
}

.header__list {
  font-family: OpenSans, sans-serif;
  display: block;

  font-weight: 800;
  font-size: 18px;
  list-style: none;
}

.header-list__item a {
  color: #ffffff;
  text-transform: uppercase;
  //display: none;
}

.header__title {
  max-width: 221px;

  display: flex;
  text-align: center;

  min-height: 48px;
  margin-top: 30px;
  margin-bottom: 33px;
  margin-left: 50px;

  font-size: 24px;
  font-weight: 300;
  color: white;
  @media (min-width: $tablet-width) {
   max-width: 186px;

    font-size: 40px;
    font-weight: 300;
    margin-top: 103px;
    margin-bottom: 39px;
  }
}

.header__image {
  max-width: 80%;
}
