.header-banner {
  min-height: 271px;

  @media (min-width: $tablet-width) {
    position: relative;
  }

    @media (min-width: $tablet-width) {
    > *:not(.header__image) {
      position: relative;
    }
  }
}


.header-banner__available {
  width: 230px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;

  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 295px;
    padding-bottom: 112px;

    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
  }
}
