
.advantages__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 20px;
  color: #283645;
  & span  {
    margin-top: 20px;
  }

  &:first-child {
    margin-bottom: 10px;
  }

  @media  (min-width: $tablet-width) {
    font-size: 40px;
    & span {
      margin-top: 0px;
    }
  }
}


.advantages__container {
  padding-top: 100px;
  background: linear-gradient(175deg, rgba(255,255,255,1) 7%, rgba(242,242,242,1) 7%, rgba(242,242,242,1) 100%);

  @media  (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    background: linear-gradient(175deg, rgba(255,255,255,1) 10%, rgba(242,242,242,1) 10%, rgba(242,242,242,1) 100%);

    &::before {
      position: absolute;
      top: 615px;
      left: 30px;
      content: url("../img/timer-svg.png");
    }

    &::after {
      position: absolute;
      content: "24";
      font-size: 96px;
      font-weight: bold;
      line-height: 1.56;

      top: 700px;
      left: 90px;

      color: #d22856;
    }
  }
}

.advantages__block {
  max-width: 100%;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 10px;

  @media  (min-width: $tablet-width) {
    width: 50%;
    text-align: left;
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: black;
}

.advantages__description {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 1.71;
  color: $dark;

  @media  (min-width: $tablet-width) {
    margin-right: 70px;
    margin-left: 0px;
  }
}

.advantages__image {
  display: inline-block;
  transform: translate(50%, 0);
  background-color: transparent;
  overflow-y: hidden;

  @media  (min-width: $tablet-width) {
    position: relative;
  }

  & img {
    position:  relative;
    text-align: center;
    bottom: -40px;

    @media  (min-width: $tablet-width) {
      display: block;
      position: absolute;
      right: 10px;
      width: 200px;
      height: 100%;
    }
  }
}

.advantages__effect,
.advantages__description_terms,
.advantages__link {
  display: none;

  @media  (min-width: $tablet-width) {
    padding-right: 34px;

    display: flex;
    width: 50%;
    margin-left: auto;
  }
}

.advantages__effect {
  @media  (min-width: $tablet-width) {
    position: relative;
    margin-top: 80px;

    font-size: 30px;
    line-height: 1.2;

    &::before {
      position: absolute;
      content: "";

      border: solid 12px #d22856;
      border-radius: 50%;
      width: 202px;
      height: 202px;

      top: 20px;
      left: -283px;
    }
  }
}

.advantages__description_terms {
  @media  (min-width: $tablet-width) {
    font-size: 14px;
    color: $dark;
    line-height: 1.71;
  }
}

.advantages__link {
  @media  (min-width: $tablet-width) {
    margin-bottom: 148px;

    color: #d22856;
    text-decoration: underline;
  }
}


