
.advantages__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 20px;
  color: #283645;
  & span  {
    margin-top: 20px;
  }

  &:first-child {
    margin-bottom: 10px;
  }
}


.advantages__container {
  padding-top: 100px;
  background: linear-gradient(175deg, rgba(255,255,255,1) 7%, rgba(242,242,242,1) 7%, rgba(242,242,242,1) 100%);
}

.advantages__block {
  max-width: 100%;
  display: block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: black;
}

.advantages__description {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 1.71;
  color: $dark;
}

.advantages__image {
  display: inline-block;
  transform: translate(50%, 0);
  background-color: transparent;
  overflow-y: hidden;
  & img {
    position: relative;
    bottom: -40px;
  }
}

.advantages__effect,
.advantages__description_terms,
.advantages__link {
  display: none;
}
